@charset "utf-8";
//= require vendor/normalize
//= require vendor/skeleton
// Remove the "do_not_" from the following line for font-awesome:
//= do_not_require vendor/font-awesome
//= require_self

// Put styles here!

$grey: #999;
$blue: #06c;

html, body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border: none;
  }
}

a {
  color: $blue;
}

.right-nav {
  height: 100%;
  border-left: 1px solid $grey;
  padding-left: 10px;
  h3 {
    font-size: 2em;
  }
}

ul.posts_list {
  list-style: none;
  height: 100%;
  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $grey;
    .post_date {
      display: block;
      font-size: .6em;
    }
    .excerpt {
      font-size: .9em;
      font-style: italic;
    }
  }
}
